
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>NoSuitableDog</title>
</head>
<body>
    <div class="content"> 
        <p class="errorMessage">Sorry, we could not find a suitable dog for you...</p>
        <div class="backButton">
            <a href="..\DogSelect\DogSelector">Try again</a>
        </div>
    </div>
</body>
</html>
